In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from matplotlib import font_manager, rc

font_location = 'C:/Windows/Fonts/malgun.ttf' # For Windows
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)

In [2]:
raw = pd.read_csv('Data/kospi.csv', encoding = 'cp949')

# 전처리

In [3]:
raw.head()

,일자,현재지수,대비,등락률(%),배당수익률(%),주가이익비율,주가자산비율,시가지수,고가지수,저가지수,거래량(천주),거래대금(백만원),상장시가총액(백만원)
0,1980/01/04,100.00,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,96,603,NaN
1,1980/01/05,100.15,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,131,776,NaN
2,1980/01/07,102.53,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,358,"2,030",NaN
3,1980/01/08,105.28,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,796,"5,567",NaN
4,1980/01/09,106.37,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,552,"3,706",NaN

In [4]:
raw.dtypes

일자              object
현재지수            object
대비             float64
등락률(%)          object
배당수익률(%)       float64
주가이익비율         float64
주가자산비율         float64
시가지수            object
고가지수            object
저가지수            object
거래량(천주)         object
거래대금(백만원)       object
상장시가총액(백만원)     object
dtype: object

In [5]:
raw['일자'] = raw['일자'].apply(lambda x: x.replace('/','')).astype('int')

In [6]:
raw['현재지수'] = raw['현재지수'].apply(lambda x: x.replace(',','')).astype('float')

In [7]:
raw['등락률(%)'] = raw['현재지수'].pct_change().fillna(0) +1

In [8]:
raw = raw[['일자','현재지수','등락률(%)']]

In [9]:
raw.head()

         일자    현재지수    등락률(%)
0  19800104  100.00  1.000000
1  19800105  100.15  1.001500
2  19800107  102.53  1.023764
3  19800108  105.28  1.026821
4  19800109  106.37  1.010353

In [10]:
raw['GIJUN_MONTH'] = raw['일자'].apply(lambda x: x//100)

In [11]:
raw.tail()

             일자     현재지수    등락률(%)  GIJUN_MONTH
10411  20180813  2248.45  0.984957       201808
10412  20180814  2258.91  1.004652       201808
10413  20180816  2240.80  0.991983       201808
10414  20180817  2247.05  1.002789       201808
10415  20180820  2247.88  1.000369       201808

# Historical Simulation을 위한 기초 data 생성

In [12]:
column_list = ['GIJUN_MONTH','SILH_SUIK_RT','KOSPI(월초)','KOSPI(월말)']
data = DataFrame(columns = column_list)

# 월초
jisu1_list = []

#월말
jisu2_list = []

month_list = []
suik_list = []

for month in raw['GIJUN_MONTH'].unique():
    temp = raw[raw['GIJUN_MONTH'] == month]
    
    # 2018년 8월 자료는 제외
    if month == 201808: continue
    
    # 월 기록
    month_list.append(month)
    
    # 월초 주가 기록
    jisu1_list.append(temp['현재지수'].iloc[0])
    
    # 월말 주가 기록
    jisu2_list.append(temp['현재지수'].iloc[-1])
    
    # 월 수익률 기록
    suik_list.append(np.prod(temp['등락률(%)']))
    
    
    
data['GIJUN_MONTH'] = month_list
data['SILH_SUIK_RT'] = suik_list
data['KOSPI(월초)'] = jisu1_list
data['KOSPI(월말)'] = jisu2_list

In [13]:
data

     GIJUN_MONTH  SILH_SUIK_RT  KOSPI(월초)  KOSPI(월말)
0         198001      1.058900     100.00     105.89
1         198002      0.979696     104.48     103.74
2         198003      1.012146     103.96     105.00
3         198004      1.105619     105.43     116.09
4         198005      1.002929     116.54     116.43
5         198006      0.967276     116.77     112.62
6         198007      1.000799     112.05     112.71
7         198008      0.999468     112.28     112.65
8         198009      0.979583     112.55     110.35
9         198010      0.957952     109.85     105.71
10        198011      1.011541     105.48     106.93
11        198012      0.999439     106.74     106.87
12        198101      0.989052      97.90     105.70
13        198102      0.984863     105.60     104.10
14        198103      1.031700     104.20     107.40
15        198104      1.139665     107.60     122.40
16        198105      1.031863     123.60     126.30
17        198106      1.193983     126.40     150.80
18        198107      0.982095     156.40     148.10
19        198108      0.945982     148.30     140.10
20        198109      0.944325     140.40     132.30
21        198110      0.929705     136.30     123.00
22        198111      1.076423     123.80     132.40
23        198112      0.991692     131.40     131.30
24        198201      0.956969     123.60     125.65
25        198202      1.024910     125.12     128.78
26        198203      0.992623     128.97     127.83
27        198204      0.949699     126.35     121.40
28        198205      0.943740     119.76     114.57
29        198206      1.079166     116.13     123.64
..           ...           ...        ...        ...
433       201602      1.002406    1924.82    1916.66
434       201603      1.041317    1947.42    1995.85
435       201604      0.999148    1973.57    1994.15
436       201605      0.994609    1978.15    1983.40
437       201606      0.993420    1982.72    1970.35
438       201607      1.023265    1987.32    2016.19
439       201608      1.009156    2029.61    2034.65
440       201609      1.004414    2032.72    2043.63
441       201610      0.982658    2054.86    2008.19
442       201611      0.987695    2007.39    1983.48
443       201612      1.021669    1983.75    2026.46
444       201701      1.020287    2026.16    2067.57
445       201702      1.011642    2080.48    2091.64
446       201703      1.032792    2102.65    2160.23
447       201704      1.020928    2167.51    2205.44
448       201705      1.064359    2219.67    2347.38
449       201706      1.018919    2344.61    2391.79
450       201707      1.004566    2394.48    2402.71
451       201708      0.983552    2422.96    2363.19
452       201709      1.013236    2357.69    2394.47
453       201710      1.053857    2433.81    2523.43
454       201711      0.981351    2556.47    2476.37
455       201712      0.996414    2475.41    2467.49
456       201801      1.040110    2479.65    2566.46
457       201802      0.945801    2568.54    2427.36
458       201803      1.007617    2402.16    2445.85
459       201804      1.028428    2444.16    2515.38
460       201805      0.963278    2505.61    2423.01
461       201806      0.960017    2438.96    2326.13
462       201807      0.986729    2271.54    2295.26

[463 rows x 4 columns]

In [14]:
data.to_csv('RAW_DATA.csv')

# 시뮬레이션 시작

In [15]:
def find_true_r(temp_list):
    
    # 방정식을 풀어 얻은 해 중, 1에 가장 가까운 값을 갖는 것을 사용한다.
    test_list = [np.abs(r-1) for r in temp_list]
    
    return temp_list[np.argmin(test_list)]

In [16]:
from collections import OrderedDict
from sympy import Symbol, solve

n_period = 12

investment = 10000
total_investment = n_period * investment

rf_annual = 0.03
rf_monthly = np.power(1+rf_annual, 1/12) -1



store_dict = OrderedDict(\
                         {'기준 월' : [],
                          'KOSPI_0' : [],
                          'KOSPI_T' : [],
                          
                          '전체 시나리오' : [],
                          '메인 시나리오' : [],
                          '세부 시나리오' : [],
                          
                          'LS 수익률(%)' : [],
                          'BH 수익률(%)' : [],
                          'DCA1 수익률(%)' : [],
                          'DCA1* 수익률(%)' : [],
                          'DCA2 수익률(%)' : [],
                          'DCA2* 수익률(%)' : [],
                          
                          'P_0' : [],
                          'P_T' : [],
                          'H_DCA1' : [],
                          'H_DCA1*' : [],
                          'H_DCA2' : [],
                          'H_DCA2*' : [],
                          
                          
                          })
#for i in range(1):
for i in range(len(data)):
    
    
    if i % 50 == 0 :
        print(i)
    
    
    temp = data.iloc[i:i+n_period]
    
    # full year가 아니면 제외
    if not len(temp) == n_period:
        continue
    
    #기준 월 기록
    gijun_month = temp['GIJUN_MONTH'].iloc[0]
    store_dict['기준 월'].append(gijun_month)
    
    # 최초시점 KOSPI 기록
    kospi_0 = temp['KOSPI(월초)'].iloc[0]
    store_dict['KOSPI_0'].append(kospi_0)
    
    # 마지막 시점 KOSPI 기록
    kospi_t = temp['KOSPI(월말)'].iloc[-1]
    store_dict['KOSPI_T'].append(kospi_t)
    
    # state : 각각의 시나리오 (ex: 상상)를 기록할 변수
    total_senario = ''
    main_senario = ''
    sebu_senario = '' 

    ################ total_senario 계산 ##################
    for index in temp.index:
        row = temp.loc[index, :]
        
        # kospi_new : 해당 기의 마지막 날 주가
        kospi_new = row['KOSPI(월말)']
           
        # t기간 수익률
        suik_t = kospi_new / kospi_0 
        
        ##### 상, 하 state 기록
        if suik_t >= 1:
            total_senario += '상'
        else:
            total_senario += '하'
    
    # total senario = xxxxxxxxxxxx (x : n_period)
    store_dict['전체 시나리오'].append(total_senario)
    
    ######################## 메인 시나리오 계산 ###########################
    
    up = 0
    down = 0
    
    for letter in total_senario:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1
    
    # 메인 시나리오 계산
    # up이 절반 이상이면
    if up > n_period/2 :
        main_senario += '강'
    
    elif down > n_period/2 :
        main_senario += '약'
    
    elif up == n_period/2 :
        main_senario += '보'
    
    store_dict['메인 시나리오'].append(main_senario)
    
    
    
    ############################ 세부 시나리오 계산 ############################
    # 전기 (최초 n_period/2 개월) 
    up = 0
    down = 0
    
    for letter in total_senario[:n_period//2]:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1          
    
    if up > n_period/4 :
        sebu_senario += '강'
    if down > n_period/4 :
        sebu_senario += '약'
    if up == n_period/4 :
        sebu_senario += '보'
        
    # 후기
    up = 0
    down = 0
    
    for letter in total_senario[n_period//2:]:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1          
    
    if up > n_period/4 :
        sebu_senario += '강'
    if down > n_period/4 :
        sebu_senario += '약'
    if up == n_period/4 :
        sebu_senario += '보'
        
    store_dict['세부 시나리오'].append(sebu_senario)
    
    
    
    ################### P_0 , P_T 계산 ###############################
    P_0 = temp['KOSPI(월초)'].iloc[0]
    P_T = temp['KOSPI(월말)'].iloc[-1]    
    
    P_T_0 = P_T / P_0
    
    ###################### LS , BH 수익률 계산 ###################
    LS_HPR = P_T / P_0 -1  # HPR  0.xx 
    LS_annual = np.power(LS_HPR +1 , 12/n_period) -1 # annual 0.xxx
    
    BH_HPR = (total_investment/2 * (P_T/P_0) + 
              total_investment/2 * np.power( 1+ rf_annual, 12/ n_period)) / total_investment -1
    
    
    BH_annual = np.power(BH_HPR +1, 12/n_period) -1
    
    store_dict['LS 수익률(%)'].append(round(LS_annual * 100,3))
    store_dict['BH 수익률(%)'].append(round(BH_annual * 100,3))
    
    
    
    
    ##################### DCA1 FV 계산 ########################
    FV_sum = 0
    
    for i in range(n_period):
        FV_sum += investment * np.prod(temp['SILH_SUIK_RT'].iloc[i:])
        
    # FV_sum : 적립식 투자안의 미래가치의 총합
    FV_sum = np.round(FV_sum,2)
    
    #################### DCA1 수익률 계산 ########################
    DCA1_HPR = FV_sum / total_investment -1 # HPR 0.xxx
    DCA1_annual = np.power(DCA1_HPR +1, 12 / n_period) -1  # annual 0.xxx
    DCA1_monthly = np.power(DCA1_annual +1, 1/n_period) -1
    
    store_dict['DCA1 수익률(%)'].append(round(DCA1_annual * 100 , 3))

    
    
    
    ################### DCA1* 수익률 계산 ##########################
    irr_path = np.ones(n_period+1) * -investment
    irr_path[-1] += (FV_sum + investment)
    
    # DCA1_star : 월별 수익률
    # IRR_annual : 연환산 수익률
    DCA1_star_monthly = np.irr(irr_path)    # monthly 0. xxxx
    DCA1_star_HPR = np.power(DCA1_star_monthly +1 ,n_period) -1
    DCA1_star_annual = np.power(DCA1_star_monthly +1, 12) -1 # annual 0. xxx
    
    store_dict['DCA1* 수익률(%)'].append(np.round(DCA1_star_annual * 100,3))

    
    
    
    ####################### DCA2 FV 계산 ##########################
    DCA2_FV = 0
    
    for i in range(n_period):
        DCA2_FV += investment * np.power(1+rf_monthly, i) * np.prod(temp['SILH_SUIK_RT'].iloc[i:])
    
    DCA2_FV = round(DCA2_FV, 2)
    
    ####################### DCA2 수익률 계산 ##########################
    DCA2_HPR = DCA2_FV/ total_investment -1
    DCA2_annual = np.power(DCA2_HPR +1, 12/ n_period) -1
    
    store_dict['DCA2 수익률(%)'].append(round(DCA2_annual * 100,3))
    
    
    
    
    ####################### DCA2 * 수익률 계산 #############################
    r = Symbol('r')
    equation = 0
    
    for i in range(n_period):
        equation += round(np.prod(temp['SILH_SUIK_RT'].iloc[i:]),5) * (r ** i)
    equation -= n_period * r ** n_period
    result_list = solve(equation)
    
    DCA2_star_monthly = find_true_r(result_list) -1
    DCA2_star_annual = np.power(DCA2_star_monthly +1 , 12) -1
    DCA2_star_HPR = np.power(DCA2_star_monthly +1 , n_period) -1
    
    store_dict['DCA2* 수익률(%)'].append(round(DCA2_star_annual * 100,3))
        
    
    
    
    
    
    
    # H_DCA1 = P_T / (1 + DCA1_HPR)
    # H_DCA1* = P_T / (1 + DCA1*_HPR)
    
    H_DCA1 = P_T / (1 + DCA1_HPR)
    H_DCA1_star = round(P_T / (1+ DCA1_star_HPR),5)
    
    H_DCA2 = P_T / (1 + DCA2_HPR)
    H_DCA2_star = round(P_T / (1+DCA2_star_HPR), 5)
    
    store_dict['P_0'].append(1)
    store_dict['P_T'].append(P_T/ P_0)
    
    store_dict['H_DCA1'].append(H_DCA1/P_0)
    store_dict['H_DCA1*'].append(H_DCA1_star/P_0)
    
    store_dict['H_DCA2'].append(H_DCA2/P_0)
    store_dict['H_DCA2*'].append(H_DCA2_star/P_0)
    
    
    
# df 결과 값 저장 : DataFrame    
df_DCA = DataFrame(store_dict)

df_DCA.T.to_csv('모든 시나리오 %s개월.csv'%n_period)

0
50
100
150
200
250
300
350
400
450

In [ ]:
df_DCA.head()

In [ ]:
df_DCA.T

# 세부 시나리오

In [ ]:
def summarize_by_senario(df, Total = True, **kwargs):
    main_senario_list = ['강', '보', '약']

    column_list = ['메인 시나리오', '세부 시나리오', 'N', 
                   'P_0', 'P_T','H_DCA1', 'H_DCA1*', 'H_DCA2', 'H_DCA2*',
                   
                   'DCA1 > LS', 'DCA1 > BH', 'DCA2 > LS', 'DCA2 > BH',
                   'DCA1* > LS', 'DCA1* > BH', 'DCA2* > LS', 'DCA2* > BH',

                   'H_DCA1 < P_T', 'H_DCA1* < P_T',
                   'H_DCA2 < P_T', 'H_DCA2* < P_T',

                   'LS 수익률(%)','BH 수익률(%)', 'DCA1 수익률(%)' , 'DCA1* 수익률(%)', 'DCA2 수익률(%)' , 'DCA2* 수익률(%)', 
                   'LS 표준편차(%)', 'BH 표준편차(%)', 'DCA1 표준편차(%)', 'DCA1* 표준편차(%)' ,'DCA2 표준편차(%)', 'DCA2* 표준편차(%)']

    store_dict = OrderedDict(\
                             dict((key , []) for key in column_list))

    # 결과 저장 DataFrame

    # 시나리오 기록
    
    if Total == True :
        store_dict['메인 시나리오'].append('전체')
        store_dict['세부 시나리오'].append('전체')
    
    elif Total == False:
        store_dict['메인 시나리오'].append(kwargs['main'])
        store_dict['세부 시나리오'].append(kwargs['sebu'])
    

    # N
    store_dict['N'].append(len(df))



    ################### # P_0 ,P_T , H_DCA1 , H_DCA1 ########################
    for column in ['P_0', 'P_T' , 'H_DCA1', 'H_DCA1*', 'H_DCA2', 'H_DCA2*']:
        store_dict[column].append(df[column].mean())



    ################# [DCA 1*. DCA 2*] > [LS수익률(%), BH수익률(%)]######################
    for column in ['DCA1','DCA1*', 'DCA2', 'DCA2*']:
        suik_column = column + ' 수익률(%)'

        DCA_win_LS_rate = np.sum(df['%s'%suik_column] > df['LS 수익률(%)']) / len(df)
        DCA_win_BH_rate = np.sum(df['%s'%suik_column] > df['BH 수익률(%)']) / len(df)

        store_dict['%s > LS'%column].append(DCA_win_LS_rate)
        store_dict['%s > BH'%column].append(DCA_win_BH_rate)




    ############### DCA1 , DCA1*, DCA2, DCA2*   > 0 (수익이 난 비율) #######################
    store_dict['H_DCA1 < P_T'].append(np.sum(df['H_DCA1'] < df['P_T']) / len(df))
    store_dict['H_DCA1* < P_T'].append( np.sum(df['H_DCA1*'] < df['P_T']) / len(df))

    store_dict['H_DCA2 < P_T'].append(np.sum(df['H_DCA2'] < df['P_T']) / len(df))
    store_dict['H_DCA2* < P_T'].append( np.sum(df['H_DCA2*'] < df['P_T']) / len(df))



    #################### # LS, DCA , DCA1 수익률 기록 #######################################

    for column in ['LS', 'BH', 'DCA1', 'DCA1*', 'DCA2', 'DCA2*']:
        suik_column = column + ' 수익률(%)'
        store_dict[suik_column].append(df[suik_column].mean())

        std_column = column + ' 표준편차(%)'
        store_dict[std_column].append(df[suik_column].std())
                                                                                
    
    return_df = DataFrame(store_dict)
    return return_df

In [ ]:
summarize_by_senario(df_DCA, Total=True)

In [ ]:
from collections import OrderedDict

# 전체 요약
summary_df = summarize_by_senario(df_DCA)

    
# 세부 시나리오별 요약
for main_senario in ['강','보','약']:
    temp = df_DCA[df_DCA['메인 시나리오'] == main_senario]
    
    sebu_senario_list = sorted(temp['세부 시나리오'].unique())

    for sebu_senario in sebu_senario_list:
        temp2 = temp[temp['세부 시나리오'] == sebu_senario]
        
        sebu_summary_df = summarize_by_senario(temp2, Total=False, main = main_senario, sebu = sebu_senario)
        summary_df = pd.concat([summary_df , sebu_summary_df], axis=0, copy = False)


summary_df.set_index('메인 시나리오', inplace= True)

#df_1.iloc[:,1:] = df_1.iloc[:,1:].apply(lambda x: np.round(x,3))

In [ ]:
summary_df.T

In [ ]:
summary_df.T.to_csv('시나리오별 통계_%s개월.csv'%n_period)

# LS, DCA2 , IRR2 비교

In [158]:
data.head()

   GIJUN_MONTH  SILH_SUIK_RT  KOSPI(월초)  KOSPI(월말)
0       198001      1.058900     100.00     105.89
1       198002      0.979696     104.48     103.74
2       198003      1.012146     103.96     105.00
3       198004      1.105619     105.43     116.09
4       198005      1.002929     116.54     116.43

In [332]:
def find_true_irr(temp_list):
    
    # 방정식을 풀어 얻은 해 중, 1에 가장 가까운 값을 갖는 것을 사용한다.
    test_list = [np.abs(r-1) for r in temp_list]
    
    return temp_list[np.argmin(test_list)]

In [ ]:
# rf : 3개월 무위험 수익률 약 0.75%
rf = 1.03
rf_monthly = np.power(rf , 1/12)
rf_quarter = np.power(rf, 1/4)


from collections import OrderedDict
from sympy import Symbol, solve

investment = 10000
total_investment = 12 * investment

store_dict = OrderedDict(\
                         {'기준 월' : [],
                          'KOSPI_0' : [],
                          'KOSPI_T' : [],
                          
                          '전체 시나리오' : [],
                          '메인 시나리오' : [],
                          '세부 시나리오' : [],
                          
                          'FV_BH' : [],
                          'FV_DCA2' : [],
                          'FV_DCA2*' : [],
                          
                          
                          'LS 수익률(%)' : [],
                          'BH 수익률(%)' : [],
                          'DCA2 수익률(%)' : [],
                          'DCA2* 수익률(%)' : [],
                          
                          'P_0' : [],
                          'P_T' : [],
                          'H_DCA2' : [],
                          'H_DCA2*' : [],
                          
                          })

for i in range(len(data)):
    
    if i % 10 == 0:
        print(i)
        
    temp = data.iloc[i:i+12]
    
    # full year가 아니면 제외
    if not len(temp) == 12:
        continue
    
    ##############기준 월 기록
    gijun_month = temp['GIJUN_MONTH'].iloc[0]
    store_dict['기준 월'].append(gijun_month)
    
    ############### 최초시점 KOSPI 기록
    kospi_0 = temp['KOSPI(월초)'].iloc[0]
    store_dict['KOSPI_0'].append(kospi_0)

        
    ################ 각각의 시나리오 기록 ###############
    total_senario = ''
    main_senario = ''
    sebu_senario = '' 

    ################ total_senario 계산 ##################
    for cnt, index in enumerate(temp.index):
        row = temp.loc[index, :]
        
        # kospi_new : 해당 기의 마지막 날 주가
        kospi_new = row['KOSPI(월말)']
           
        # t기간 수익률
        suik_t = kospi_new / kospi_0 
        
        ##### 상, 하 state 기록
        # 무위험 수익률을 기준으로 상하분류
        if suik_t >= np.power(rf_monthly, cnt):
            total_senario += '상'
        else:
            total_senario += '하'

    store_dict['전체 시나리오'].append(total_senario)
    
    ######################## 메인 시나리오 계산 ###########################
    
    up = 0
    down = 0
    
    for letter in total_senario:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1
    
    # 메인 시나리오 계산
    if up > 6 :
        main_senario += '강'
    
    elif down > 6 :
        main_senario += '약'
    
    elif up == 6 :
        main_senario += '보'
    
    store_dict['메인 시나리오'].append(main_senario)
    
    ############################ 세부 시나리오 계산 ############################
    # 전기 (최초 6개월) 
    up = 0
    down = 0
    
    for letter in total_senario[:6]:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1          
    
    if up > 3 :
        sebu_senario += '강'
    if down > 3 :
        sebu_senario += '약'
    if up == 3 :
        sebu_senario += '보'
        
    # 후기
    up = 0
    down = 0
    
    for letter in total_senario[6:]:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1          
    
    if up > 3 :
        sebu_senario += '강'
    if down > 3 :
        sebu_senario += '약'
    if up == 3 :
        sebu_senario += '보'
        
    store_dict['세부 시나리오'].append(sebu_senario)
    

    ################ DCA2의 FV 계산 #################
    FV_sum = 0
    
    for i in range(12):
        
        FV_sum += investment * np.power(rf_monthly,i) * np.prod(temp['SILH_SUIK_RT'].iloc[i:])
        
        
    ############ FV_DCA2 기록 ###############
    FV_sum = np.round(FV_sum,2)
    store_dict['FV_DCA2'].append(FV_sum)
    
    
    
    ########### P_0 , P_T 계산 #############
    P_0 = temp['KOSPI(월초)'].iloc[0]
    P_T = temp['KOSPI(월말)'].iloc[-1]
    
    store_dict['KOSPI_T'].append(P_T)
    
    
    
    ############# LS , DCA 수익률 계산 ############
    LS_annual = P_T / P_0 -1
    
    DCA2_annual = FV_sum / total_investment -1
    DCA2 = np.power(DCA_annual +1, 1/12)
    
    ############## BH 수익률 계산 #####################
    BH_FV = 6 * temp['SILH_SUIK_RT'].prod() + 6 * rf
    store_dict['FV_BH'].append(BH_FV)
    
    BH_suik = BH_FV / 12 - 1
    store_dict['BH 수익률(%)'].append(round(BH_suik * 100,2))
    
    
    ################ DCA2* 수익률 계산 #################
    equation = 0
    r = Symbol('r')
    
    for i in range(12):
        equation += np.prod(temp['SILH_SUIK_RT'].iloc[i:]) * (r ** i)
    equation -= 12 * (r ** 12)
        
    result_list = solve(equation)
    
    
    DCA2_star = round(find_true_irr(result_list) -1 , 4)
    DCA2_star_annual = round(np.power(DCA2_star +1 , 12) -1,4)
    
    ################## DCA2* FV 계산 #########################
    FV_DCA2_star = 12 * investment * (1 + DCA2_star_annual)
    store_dict['FV_DCA2*'].append(FV_DCA2_star)
    
    store_dict['LS 수익률(%)'].append(np.round(LS_annual * 100,2))
    store_dict['DCA2 수익률(%)'].append(np.round(DCA2_annual * 100,2))
    store_dict['DCA2* 수익률(%)'].append(DCA2_star_annual * 100)
    
    
    
    ################### H_DCA2, H_DCA2* 기록 ##########################
    # H_2 = P_T / (1+R_2)
    P_0 = temp['KOSPI(월초)'].iloc[0]
    P_T = temp['KOSPI(월말)'].iloc[-1]
    
    H_DCA2 = P_T / (1 + DCA2_annual)
    H_DCA2_star = P_T / (1 + DCA2_star_annual)
    
    store_dict['P_0'].append(1)
    store_dict['P_T'].append(P_T / P_0)
    store_dict['H_DCA2'].append(H_DCA2/P_0)
    store_dict['H_DCA2*'].append(H_DCA2_star/P_0)

# df 결과 값 저장 : DataFrame    
df_DCA2 = DataFrame(store_dict)   

df_DCA2.to_csv('모든 시나리오 DCA1 %s개월.csv'%(n_period),index = False)

In [443]:
df_DCA2 = df

In [407]:
df_DCA2 = pd.read_csv('every_senario_DCA2_12month_copy.csv', encoding = 'cp949')

In [432]:
len(df)

452

In [408]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,442,443,444,445,446,447,448,449,450,451
기준 월,198001,198002,198003,198004,198005,198006,198007,198008,198009,198010,...,201611,201612,201701,201702,201703,201704,201705,201706,201707,201708
KOSPI_0,100,104.48,103.96,105.43,116.54,116.77,112.05,112.28,112.55,109.85,...,2007.39,1983.75,2026.16,2080.48,2102.65,2167.51,2219.67,2344.61,2394.48,2422.96
KOSPI_T,106.87,105.7,104.1,107.4,122.4,126.3,150.8,148.1,140.1,132.3,...,2523.43,2476.37,2467.49,2566.46,2427.36,2445.85,2515.38,2423.01,2326.13,2295.26
전체 시나리오,상상상상상상상상상상상상,하상상상상상상상상상상상,상상상상상상상상상상상하,상상상상상상상상상상하상,하하하하하하하하하하하상,하하하하하하하하하하상상,상상하하하하하하하상상상,상하하하하하하하상상상상,하하하하하하하상상상상상,하하하하하하상상상상상상,...,하상상상상상상상상상상상,상상상상상상상상상상상상,상상상상상상상상상상상상,상상상상상상상상상상상상,상상상상상상상상상상상상,상상상상상상상상상상상상,상상상상상상상상상상상상,상상상상상상상상상상상상,상하하상상상상상상상상하,하하상상상상하상상하하하
메인 시나리오,강,강,강,강,약,약,약,약,약,보,...,강,강,강,강,강,강,강,강,강,보
세부 시나리오,강강,강강,강강,강강,약약,약약,약보,약강,약강,약강,...,강강,강강,강강,강강,강강,강강,강강,강강,강강,강약
FV_DCA2,119486,117505,115754,119403,135826,139558,165567,159176,147527,136958,...,139958,134792,131807,134809,125196,124527,126703,120688,115556,114308
FV_DCA2*,116172,112584,109500,115884,148116,155628,216492,197964,170292,148296,...,154896,144492,138792,144672,126492,125292,129396,118284,109368,107148
LS 수익률(%),6.87,1.17,0.13,1.87,5.03,8.16,34.58,31.9,24.48,20.44,...,25.71,24.83,21.78,23.36,15.44,12.84,13.32,3.34,-2.85,-5.27
BH 수익률(%),4.94,1.41,1.67,2.64,4.22,5.74,18.45,17.2,13.68,11.45,...,14.33,13.92,12.38,13.56,9.53,8.11,8.53,3.11,0.13,-0.74
DCA1 수익률(%),-1.76,-3.4,-4.85,-1.86,11.63,14.72,36.13,30.92,21.37,12.7,...,15.13,10.88,8.42,10.88,2.97,2.41,4.19,-0.77,-4.99,-6.03
DCA1* 수익률(%),-3.23,-6.21,-8.82,-3.42,22.15,28.25,72.74,61.57,41.66,24.24,...,29.06,20.68,15.9,20.69,5.53,4.48,7.82,-1.41,-9.09,-10.94
DCA2 수익률(%),-0.43,-2.08,-3.54,-0.5,13.19,16.3,37.97,32.65,22.94,14.13,...,16.63,12.33,9.84,12.34,4.33,3.77,5.59,0.57,-3.7,-4.74
DCA2* 수익률(%),-3.19,-6.18,-8.75,-3.43,23.43,29.69,80.41,64.97,41.91,23.58,...,29.08,20.41,15.66,20.56,5.41,4.41,7.83,-1.43,-8.86,-10.71
P_0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
P_T,1.0687,1.01168,1.00135,1.01869,1.05028,1.08161,1.34583,1.31902,1.24478,1.20437,...,1.25707,1.24833,1.21782,1.23359,1.15443,1.12841,1.13322,1.03344,0.971455,0.947296
H_DCA2,1.0733,1.03316,1.03808,1.02378,0.92791,0.930034,0.975429,0.994391,1.01252,1.05525,...,1.07781,1.11134,1.10873,1.09808,1.10652,1.08739,1.07327,1.02755,1.00881,0.994469
H_DCA2*,1.10391,1.07832,1.09737,1.05487,0.850914,0.833999,0.745983,0.799554,0.877162,0.974567,...,0.973869,1.03673,1.05293,1.02322,1.09518,1.08075,1.05093,1.04843,1.06589,1.06092

## 세부 시나리오별 성과 기록

In [438]:
from collections import OrderedDict

main_senario_list = ['강', '보', '약']

column_list = ['메인 시나리오', '세부 시나리오', 'N', 'P_0', 'P_T', 'H_DCA2','H_DCA2*', 
               'DCA1* > LS',   'DCA1* > BH',
               'DCA2* > LS',   'DCA2* > BH',
               
               'H_DCA2 < P_T', 'H_DCA2* < P_T', 
               
               'LS 수익률(%)','BH 수익률(%)','DCA1 수익률(%)' , 'DCA1* 수익률(%)', 'DCA2 수익률(%)' , 'DCA2* 수익률(%)', 
               'LS 표준편차(%)', 'BH 표준편차(%)', 'DCA1 표준편차(%)', 'DCA1* 표준편차(%)' ,'DCA2 표준편차(%)', 'DCA2* 표준편차(%)']

store_dict = OrderedDict(\
                         dict((key , []) for key in column_list))

# 결과 저장 DataFrame

# total 기록
store_dict['메인 시나리오'].append('전체')
store_dict['세부 시나리오'].append('전체')
           
# N
store_dict['N'].append(len(df))

# P_0 ,P_T , H_DCA1 , H_DCA1*
for column in ['P_0', 'P_T' , 'H_DCA2', 'H_DCA2*']:
    store_dict[column].append(df[column].mean())

    
for column in ['DCA1*', 'DCA2*']:
    suik_column = column + ' 수익률(%)'
    
    store_dict['%s > LS'%column].append(np.sum((df[suik_column] > df['LS 수익률(%)'])/ len(df)))
    store_dict['%s > BH'%column].append(np.sum((df[suik_column] > df['BH 수익률(%)'])/ len(df)))


# DCA2 , DCA2* > 0 (수익이 난 비율)
store_dict['H_DCA2 < P_T'].append(np.sum((df['H_DCA2'] < df['P_T'])) / len(df))
store_dict['H_DCA2* < P_T'].append( np.sum((df['H_DCA2*'] < df['P_T'])) / len(df))
   

######## LS, BH, DCA , DCA1 수익률 기록 ######

for column in ['LS', 'BH','DCA1', 'DCA1*', 'DCA2', 'DCA2*']:
    suik_column = column + ' 수익률(%)'
    store_dict[suik_column].append(df[suik_column].mean())
    
    std_column = column + ' 표준편차(%)'
    store_dict[std_column].append(df[suik_column].std())
    
    
    
####################### 나머지 기록  ###########################
for main_senario in main_senario_list:
    temp = df[df['메인 시나리오'] == main_senario]
    
    sebu_senario_list = sorted(temp['세부 시나리오'].unique())

    for sebu_senario in sebu_senario_list:
        temp2 = temp[temp['세부 시나리오'] == sebu_senario]
        
        # 메인 시나리오 기록
        store_dict['메인 시나리오'].append(main_senario)
        
        # 세부 시나리오 기록
        store_dict['세부 시나리오'].append(sebu_senario)
        
        # N 기록
        store_dict['N'].append(len(temp2) / len(df))
        
        # P_0 , P_T , H_DCA1 , H_DCA1*의 평균 기록
        for column in ['P_0', 'P_T' , 'H_DCA2', 'H_DCA2*']:
            store_dict[column].append(np.mean(temp2[column]))
        
        for column in ['DCA1*', 'DCA2*']:
            suik_column = column + ' 수익률(%)'

            store_dict['%s > LS'%column].append(np.sum((temp2[suik_column] > temp2['LS 수익률(%)'])/ len(temp2)))
            store_dict['%s > BH'%column].append(np.sum((temp2[suik_column] > temp2['BH 수익률(%)'])/ len(temp2)))
        

        # DCA2 , DCA2* > 0 (수익이 난 비율)
        store_dict['H_DCA2 < P_T'].append(np.sum((temp2['H_DCA2'] < temp2['P_T'])) / len(temp2))
        store_dict['H_DCA2* < P_T'].append(np.sum((temp2['H_DCA2*'] < temp2['P_T'])) / len(temp2))
        
        for column in ['LS','BH', 'DCA1', 'DCA1*', 'DCA2', 'DCA2*']:
            suik_column = column + ' 수익률(%)'
            store_dict[suik_column].append(np.std(temp2[suik_column]))
            
            # std
            std_column = column + ' 표준편차(%)'
            store_dict[std_column].append(np.std(temp2[suik_column]))
        

for key in store_dict.keys():
    print( key, len(store_dict[key]))
df_1 = DataFrame(store_dict)    
df_1.set_index('메인 시나리오', inplace= True)

df_1.iloc[:,1:] = df_1.iloc[:,1:].apply(lambda x: np.round(x,3))

메인 시나리오 14
세부 시나리오 14
N 14
P_0 14
P_T 14
H_DCA2 14
H_DCA2* 14
DCA1* > LS 14
DCA1* > BH 14
DCA2* > LS 14
DCA2* > BH 14
H_DCA2 < P_T 14
H_DCA2* < P_T 14
LS 수익률(%) 14
BH 수익률(%) 14
DCA1 수익률(%) 14
DCA1* 수익률(%) 14
DCA2 수익률(%) 14
DCA2* 수익률(%) 14
LS 표준편차(%) 14
BH 표준편차(%) 14
DCA1 표준편차(%) 14
DCA1* 표준편차(%) 14
DCA2 표준편차(%) 14
DCA2* 표준편차(%) 14

In [439]:
df_1.T

메인 시나리오,전체,강,강,강,강,강,보,보,보,약,약,약,약,약
세부 시나리오,전체,강강,강보,강약,보강,약강,강약,보보,약강,강약,보약,약강,약보,약약
N,452,0.458,0.015,0.018,0.04,0.033,0.027,0.013,0.018,0.04,0.038,0.029,0.018,0.254
P_0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
P_T,1.131,1.341,1.085,0.898,1.29,1.253,0.975,1.008,1.204,0.878,0.866,1.088,1.104,0.833
H_DCA2,1.027,1.143,1.014,1.011,1.062,1.037,0.987,0.989,0.985,0.952,0.932,0.969,0.941,0.861
H_DCA2*,1,1.05,0.991,1.165,0.948,0.915,1.03,0.999,0.878,1.058,1.036,0.914,0.852,0.927
DCA1* > LS,0.504,0.324,0.429,0.125,0.778,1,0.333,0.5,1,0.278,0.412,0.692,0.75,0.748
DCA1* > BH,0.555,0.633,0.429,0.125,0.833,1,0.25,0.333,0.875,0.056,0.235,0.692,0.75,0.47
DCA2* > LS,0.5,0.324,0.429,0.125,0.722,1,0.333,0.5,1,0.278,0.353,0.692,0.75,0.748
DCA2* > BH,0.549,0.623,0.429,0.125,0.833,1,0.25,0.333,0.875,0.056,0.235,0.692,0.75,0.461
H_DCA2 < P_T,0.681,0.85,0.714,0.25,0.944,1,0.417,0.667,1,0.167,0.412,0.769,0.75,0.435
H_DCA2* < P_T,0.624,0.816,0.571,0.125,0.889,1,0.333,0.667,1,0.056,0.235,0.692,0.75,0.357
LS 수익률(%),13.071,34.804,16.306,13.854,29.264,11.717,9.598,5.63,25.439,9.881,14.728,12.921,14.122,16.175
BH 수익률(%),8.179,17.538,8.691,6.976,14.639,5.918,4.54,2.959,11.652,5.041,7.278,6.296,6.848,8.119
DCA1 수익률(%),6.917,18.491,17.385,12.394,20.344,9.235,9.825,6.641,26.01,7.67,11.211,16.634,16.147,14.522
DCA1* 수익률(%),14.782,38.75,35.055,19.974,43.602,18.878,17.966,12.368,57.824,13.175,18.894,34.137,31.914,25.81
DCA2 수익률(%),8.346,18.662,17.655,12.555,20.539,9.335,9.971,6.732,26.281,7.762,11.333,16.826,16.349,14.702
DCA2* 수익률(%),15.272,39.211,42.649,18.999,44.909,19.823,18.778,12.488,63.809,12.984,18.629,36.443,34.037,26.504
LS 표준편차(%),34.936,34.804,16.306,13.854,29.264,11.717,9.598,5.63,25.439,9.881,14.728,12.921,14.122,16.175
BH 표준편차(%),17.523,17.538,8.691,6.976,14.639,5.918,4.54,2.959,11.652,5.041,7.278,6.296,6.848,8.119
DCA1 표준편차(%),19.533,18.491,17.385,12.394,20.344,9.235,9.825,6.641,26.01,7.67,11.211,16.634,16.147,14.522
DCA1* 표준편차(%),38.91,38.75,35.055,19.974,43.602,18.878,17.966,12.368,57.824,13.175,18.894,34.137,31.914,25.81
DCA2 표준편차(%),19.722,18.662,17.655,12.555,20.539,9.335,9.971,6.732,26.281,7.762,11.333,16.826,16.349,14.702
DCA2* 표준편차(%),39.683,39.211,42.649,18.999,44.909,19.823,18.778,12.488,63.809,12.984,18.629,36.443,34.037,26.504

In [440]:
df_1.T.to_csv('시나리오별 통계 DCA2 12개월 보고서용 2')

In [382]:
senario_list = ['상상상상', # 강상승
               '상상상하','상상하상','상하상상','하상상상', # 약상승
               '상상하하','상하상하','상하하상','하하상상','하상상하','하상하상', # 보합
               '상하하하','하상하하','하하상하','하하하상', # 약하락
               '하하하하'] # 강하락

# store_df : 시나리오별 결과를 기록할  DataFrame
store_df = DataFrame(index = senario_list)

for state in senario_list:
    temp = df[df['시나리오'] == state]
    
    # 각각의 기간 별, best와 worst를 뽑아서 기록한다
    suik_column_list = ['LS 수익률(%)', 'DCA 수익률(%)', 'IRR 수익률(%)']
    
    # Best를 달성한 횟수
    LS_best = 0
    DCA_best = 0
    IRR_best = 0
    
    # Worst를 달성한 횟수
    LS_worst = 0
    DCA_worst = 0
    IRR_worst = 0
    
    for index in temp.index:
        row = temp.loc[index, suik_column_list]
        
        # best : 가장 좋은 투자방식
        best = row.argmax()
        
        if best == 'LS 수익률(%)':
            LS_best += 1
        
        elif best == 'DCA 수익률(%)':
            DCA_best += 1
        
        elif best == 'IRR 수익률(%)':
            IRR_best += 1
        
        # worst : 가장 안좋은 투자방식
        worst = row.argmin()
        
        if worst == 'LS 수익률(%)':
            LS_worst += 1
        
        elif worst == 'DCA 수익률(%)':
            DCA_worst += 1
        
        elif worst == 'IRR 수익률(%)':
            IRR_worst += 1
        
    
    
    store_df.loc[state, 'N'] = len(temp)
    store_df.loc[state, 'LS 수익률(%) 평균']  = np.mean(temp['LS 수익률(%)'])
    store_df.loc[state, 'LS 수익률(%) 표준편차']  = np.std(temp['LS 수익률(%)'])
    
    store_df.loc[state, 'DCA 수익률(%) 평균']  = np.mean(temp['DCA 수익률(%)'])
    store_df.loc[state, 'DCA 수익률(%) 표준편차']  = np.std(temp['DCA 수익률(%)'])
    
    store_df.loc[state, 'IRR 수익률(%) 평균']  = np.mean(temp['IRR 수익률(%)'])
    store_df.loc[state, 'IRR 수익률(%) 표준편차']  = np.std(temp['IRR 수익률(%)'])
    
    store_df.loc[state, 'LS BEST(%)'] = LS_best# / len(temp) * 100
    store_df.loc[state, 'DCA BEST(%)'] = DCA_best# / len(temp) * 100
    store_df.loc[state, 'IRR BEST(%)'] = IRR_best#/ len(temp) * 100
    
    store_df.loc[state, 'LS WORST(%)'] = LS_worst#/ len(temp) * 100
    store_df.loc[state, 'DCA WORST(%)'] = DCA_worst#/ len(temp) * 100
    store_df.loc[state, 'IRR WORST(%)'] = IRR_worst#/ len(temp) * 100
    
store_df = store_df.apply(lambda x: np.round(x,2))

In [384]:
store_df.T

,상상상상,상상상하,상상하상,상하상상,하상상상,상상하하,상하상하,상하하상,하하상상,하상상하,하상하상,상하하하,하상하하,하하상하,하하하상,하하하하
N,64.00,32.00,36.00,34.00,35.00,28.00,18.00,25.00,29.00,31.00,17.00,24.00,21.00,20.00,23.00,15.00
LS 수익률(%) 평균,58.50,28.99,23.50,24.31,31.52,5.62,-1.18,-0.91,0.93,1.50,3.27,-10.73,-20.96,-14.81,-14.16,-30.78
LS 수익률(%) 표준편차,36.35,34.14,25.24,21.81,35.70,16.59,18.31,12.85,16.82,15.69,19.51,13.68,17.46,17.87,15.82,11.09
DCA 수익률(%) 평균,28.79,9.25,11.00,15.88,24.14,-2.00,-3.27,1.54,11.56,2.47,5.67,-9.06,-10.57,-4.82,0.53,-16.54
DCA 수익률(%) 표준편차,16.96,11.62,11.47,13.38,20.34,8.19,7.87,7.03,11.00,8.53,10.01,7.28,10.59,11.12,10.27,7.70
IRR 수익률(%) 평균,58.41,16.24,19.84,30.21,48.61,-6.48,-9.00,0.33,20.97,2.32,8.85,-20.04,-22.46,-11.59,-1.39,-33.63
IRR 수익률(%) 표준편차,38.58,24.77,24.35,28.91,46.65,15.06,15.03,13.83,23.26,16.66,20.14,13.35,18.91,20.22,20.61,13.70
LS BEST(%),35.00,30.00,22.00,9.00,0.00,23.00,6.00,7.00,0.00,4.00,0.00,10.00,1.00,0.00,0.00,0.00
DCA BEST(%),0.00,1.00,4.00,4.00,1.00,5.00,12.00,9.00,7.00,18.00,9.00,14.00,20.00,18.00,16.00,15.00
IRR BEST(%),29.00,1.00,10.00,21.00,34.00,0.00,0.00,9.00,22.00,9.00,8.00,0.00,0.00,2.00,7.00,0.00
LS WORST(%),0.00,0.00,3.00,8.00,11.00,0.00,1.00,8.00,24.00,12.00,9.00,0.00,6.00,15.00,23.00,6.00
DCA WORST(%),64.00,23.00,28.00,25.00,24.00,5.00,4.00,9.00,5.00,10.00,5.00,0.00,0.00,0.00,0.00,0.00
IRR WORST(%),0.00,9.00,5.00,1.00,0.00,23.00,13.00,8.00,0.00,9.00,3.00,24.00,15.00,5.00,0.00,9.00

# 통계량 기록 : df1

In [385]:
df1 = DataFrame(index = ['LS','DCA','IRR'])

for index in df1.index:
    
    # BEST 비율 계산
    best_column = '%s '%index + 'BEST(%)'
    best_ratio = np.sum(store_df[best_column] / np.sum(store_df['N'])) * 100
    df1.loc[index , 'BEST (%)'] = best_ratio
    
    # WORST 비율 계산
    worst_column = '%s '%index + 'WORST(%)'
    worst_ratio = np.sum(store_df[worst_column] / np.sum(store_df['N'])) *100
    df1.loc[index , 'WOSRT (%)'] = worst_ratio
    
    
    # 수익률 평균 계산
    suik_mean_column = '%s '%index + '수익률(%) 평균'
    df1.loc[index, '수익률 평균(%)'] = np.mean(store_df[suik_mean_column])
    
    
    # 수익률의 표준편차 계산
    std_column = '%s '%index + '수익률(%) 표준편차'
    df1.loc[index, '수익률 표준편차(%)'] = np.mean(store_df[std_column])
    
df1 = df1.apply(lambda x: np.round(x,2))

In [386]:
df1

     BEST (%)  WOSRT (%)  수익률 평균(%)  수익률 표준편차(%)
LS      32.52      27.88       5.29        20.56
DCA     33.85      44.69       4.04        10.84
IRR     33.63      27.43       6.32        22.13

In [387]:
################ hyper parameter ##################
investment = 10000
total_investment = 5 * investment
u = 1.05
d = 0.95
###################################################


column_list = ['상상상상', # 강상승
               '상상상하','상상하상','상하상상','하상상상', # 약상승
               '상상하하','상하상하','상하하상','하하상상','하상상하','하상하상', # 보합
               '상하하하','하상하하','하하상하','하하하상', # 약하락
               '하하하하'] # 강하락

index_list = ['Price at time %s'%i for i in range(5)]


df1 = DataFrame(columns = column_list,
               index = index_list)


################# 시나리오 생성 ####################
for column in column_list:
    
    # value-path 저장
    path_list = [100]
    
    for cnt, letter in enumerate(column):
        if letter == '상':
            path_list.append(path_list[cnt] * u)
        
        elif letter == '하':
            path_list.append(path_list[cnt] * d)
    
    df1[column] = path_list

################### 평균 주가 계산 #####################
df1 = df1.T

# n기간 주가의 산술평균
df1['평균주가 (1)'] = df1.mean(axis=1)


####################### df2 ##########################
df2 = investment/ df1.iloc[:,:5]

# 매입 주식 수 계산
df2.columns = [['Time 0(매입주식수)',
               'Time 1(매입주식수)',
               'Time 2(매입주식수)',
               'Time 3(매입주식수)',
               'Time 4(매입주식수)']]

df2['타문헌 매입주식수 합계'] = np.sum(df2, axis= 1)


########### 투자 종료 시점의 투자안 가치는 매입한 총 주식 수 * T시점 주가
df2['투자 종료시점 투자안 가치'] = df2['타문헌 매입주식수 합계'] * df1['Price at time 4']

df2['LS 수익률(%) (4) '] = df1['Price at time 4'] -100

#### 기존 문헌의 누적 수익률 계산방식
df2['타문헌 DCA 수익률(%) (5)'] = (df2['투자 종료시점 투자안 가치'] / total_investment -1 ) * 100



################### 고강석 IRR 수익률 계산 #############
irr_list = []

for cnt, index in enumerate(df2.index):
    irr_path = np.ones(5) * - investment
    FV = df2.loc[index,'투자 종료시점 투자안 가치']
    irr_path[4] += FV
    
    # IRR 수익률
    irr_rtn = np.irr(irr_path)
    
    # irr 수익률을 전체 기간 수익률로 바꾸고 %화 해준다
    irr = (np.power(irr_rtn +1, 4) -1) * 100
    irr_list.append(irr)
    
    ##### T시점 투자금액 현가로 할인
    PV_list = [investment / np.power(irr_rtn +1, i) for i in range(5)]
    
    
    
df2['고강석 IRR 수익률(%) (5)'] = irr_list


###################### df1 ###########################
df1['타문헌 DCA 평균매입단가 (2)'] = total_investment/ df2['타문헌 매입주식수 합계']

df1['비용절감액 (1)-(2)'] = df1['평균주가 (1)'] - df1['타문헌 DCA 평균매입단가 (2)']

df1 = df1.apply(lambda x : np.round(x,2))
df2 = df2.apply(lambda x : np.round(x,2))

In [388]:
df1.T

,상상상상,상상상하,상상하상,상하상상,하상상상,상상하하,상하상하,상하하상,하하상상,하상상하,하상하상,상하하하,하상하하,하하상하,하하하상,하하하하
Price at time 0,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
Price at time 1,105.00,105.00,105.00,105.00,95.00,105.00,105.00,105.00,95.00,95.00,95.00,105.00,95.00,95.00,95.00,95.00
Price at time 2,110.25,110.25,110.25,99.75,99.75,110.25,99.75,99.75,90.25,99.75,99.75,99.75,99.75,90.25,90.25,90.25
Price at time 3,115.76,115.76,104.74,104.74,104.74,104.74,104.74,94.76,94.76,104.74,94.76,94.76,94.76,94.76,85.74,85.74
Price at time 4,121.55,109.97,109.97,109.97,109.97,99.50,99.50,99.50,99.50,99.50,99.50,90.02,90.02,90.02,90.02,81.45
평균주가 (1),110.51,108.20,105.99,103.89,101.89,103.90,101.80,99.80,95.90,99.80,97.80,97.91,95.91,94.01,92.20,90.49
타문헌 DCA 평균매입단가 (2),109.99,107.93,105.85,103.76,101.64,103.75,101.74,99.70,95.77,99.70,97.74,97.64,95.76,93.87,91.95,90.01
비용절감액 (1)-(2),0.52,0.27,0.14,0.14,0.25,0.15,0.06,0.11,0.13,0.10,0.06,0.27,0.14,0.14,0.25,0.47

In [389]:
df1.T

,상상상상,상상상하,상상하상,상하상상,하상상상,상상하하,상하상하,상하하상,하하상상,하상상하,하상하상,상하하하,하상하하,하하상하,하하하상,하하하하
Price at time 0,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
Price at time 1,105.00,105.00,105.00,105.00,95.00,105.00,105.00,105.00,95.00,95.00,95.00,105.00,95.00,95.00,95.00,95.00
Price at time 2,110.25,110.25,110.25,99.75,99.75,110.25,99.75,99.75,90.25,99.75,99.75,99.75,99.75,90.25,90.25,90.25
Price at time 3,115.76,115.76,104.74,104.74,104.74,104.74,104.74,94.76,94.76,104.74,94.76,94.76,94.76,94.76,85.74,85.74
Price at time 4,121.55,109.97,109.97,109.97,109.97,99.50,99.50,99.50,99.50,99.50,99.50,90.02,90.02,90.02,90.02,81.45
평균주가 (1),110.51,108.20,105.99,103.89,101.89,103.90,101.80,99.80,95.90,99.80,97.80,97.91,95.91,94.01,92.20,90.49
타문헌 DCA 평균매입단가 (2),109.99,107.93,105.85,103.76,101.64,103.75,101.74,99.70,95.77,99.70,97.74,97.64,95.76,93.87,91.95,90.01
비용절감액 (1)-(2),0.52,0.27,0.14,0.14,0.25,0.15,0.06,0.11,0.13,0.10,0.06,0.27,0.14,0.14,0.25,0.47

In [390]:
df2.T

,상상상상,상상상하,상상하상,상하상상,하상상상,상상하하,상하상하,상하하상,하하상상,하상상하,하상하상,상하하하,하상하하,하하상하,하하하상,하하하하
Time 0(매입주식수),100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
Time 1(매입주식수),95.24,95.24,95.24,95.24,105.26,95.24,95.24,95.24,105.26,105.26,105.26,95.24,105.26,105.26,105.26,105.26
Time 2(매입주식수),90.70,90.70,90.70,100.25,100.25,90.70,100.25,100.25,110.80,100.25,100.25,100.25,100.25,110.80,110.80,110.80
Time 3(매입주식수),86.38,86.38,95.48,95.48,95.48,95.48,95.48,105.53,105.53,95.48,105.53,105.53,105.53,105.53,116.64,116.64
Time 4(매입주식수),82.27,90.93,90.93,90.93,90.93,100.50,100.50,100.50,100.50,100.50,100.50,111.08,111.08,111.08,111.08,122.77
타문헌 매입주식수 합계,454.60,463.26,472.35,481.90,491.92,481.92,491.47,501.52,522.10,501.49,511.54,512.10,522.12,532.67,543.78,555.48
투자 종료시점 투자안 가치,55256.31,50946.19,51946.19,52996.19,54098.69,47951.31,48901.31,49901.31,51948.81,49898.81,50898.81,46101.19,47003.69,47953.69,48953.69,45243.81
LS 수익률(%) (4),21.55,9.97,9.97,9.97,9.97,-0.50,-0.50,-0.50,-0.50,-0.50,-0.50,-9.98,-9.98,-9.98,-9.98,-18.55
타문헌 DCA 수익률(%) (5),10.51,1.89,3.89,5.99,8.20,-4.10,-2.20,-0.20,3.90,-0.20,1.80,-7.80,-5.99,-4.09,-2.09,-9.51
고강석 IRR 수익률(%) (5),21.55,3.80,7.86,12.16,16.72,-8.11,-4.37,-0.39,7.87,-0.40,3.61,-15.28,-11.80,-8.10,-4.16,-18.55

In [391]:
df1['고강석 IRR수익률(%) (5)'] = df2['고강석 IRR 수익률(%) (5)'].apply(lambda x: np.power(x/100 + 1, 1/4))

In [392]:
df1['FV_sum'] = df2['투자 종료시점 투자안 가치']

In [393]:
df1

,Price at time 0,Price at time 1,Price at time 2,Price at time 3,Price at time 4,평균주가 (1),타문헌 DCA 평균매입단가 (2),비용절감액 (1)-(2),고강석 IRR수익률(%) (5),FV_sum
상상상상,100.0,105.0,110.25,115.76,121.55,110.51,109.99,0.52,1.049999,55256.31
상상상하,100.0,105.0,110.25,115.76,109.97,108.20,107.93,0.27,1.009368,50946.19
상상하상,100.0,105.0,110.25,104.74,109.97,105.99,105.85,0.14,1.019096,51946.19
상하상상,100.0,105.0,99.75,104.74,109.97,103.89,103.76,0.14,1.029105,52996.19
하상상상,100.0,95.0,99.75,104.74,109.97,101.89,101.64,0.25,1.039409,54098.69
상상하하,100.0,105.0,110.25,104.74,99.50,103.90,103.75,0.15,0.979077,47951.31
상하상하,100.0,105.0,99.75,104.74,99.50,101.80,101.74,0.06,0.988891,48901.31
상하하상,100.0,105.0,99.75,94.76,99.50,99.80,99.70,0.11,0.999024,49901.31
하하상상,100.0,95.0,90.25,94.76,99.50,95.90,95.77,0.13,1.019120,51948.81
하상상하,100.0,95.0,99.75,104.74,99.50,99.80,99.70,0.10,0.998998,49898.81
하상하상,100.0,95.0,99.75,94.76,99.50,97.80,97.74,0.06,1.008905,50898.81
상하하하,100.0,105.0,99.75,94.76,90.02,97.91,97.64,0.27,0.959393,46101.19
하상하하,100.0,95.0,99.75,94.76,90.02,95.91,95.76,0.14,0.969097,47003.69
하하상하,100.0,95.0,90.25,94.76,90.02,94.01,93.87,0.14,0.979104,47953.69
하하하상,100.0,95.0,90.25,85.74,90.02,92.20,91.95,0.25,0.989434,48953.69
하하하하,100.0,95.0,90.25,85.74,81.45,90.49,90.01,0.47,0.949998,45243.81

In [70]:
################ hyper parameter ##################
investment = 200000
total_investment = 5 * investment
u = 1.1
d = 0.9

stock_price = 10000
###################################################


column_list = ['상상상상', # 강상승
               '상상상하','상상하상','상하상상','하상상상', # 약상승
               '상상하하','상하상하','상하하상','하하상상','하상상하','하상하상', # 보합
               '상하하하','하상하하','하하상하','하하하상', # 약하락
               '하하하하'] # 강하락

index_list = ['Price at time %s'%i for i in range(5)]


df1 = DataFrame(columns = column_list,
               index = index_list)


################# 시나리오 생성 ####################
for column in column_list:
    
    # value-path 저장
    path_list = [stock_price]
    
    for cnt, letter in enumerate(column):
        if letter == '상':
            path_list.append(path_list[cnt] * u)
        
        elif letter == '하':
            path_list.append(path_list[cnt] * d)
    
    df1[column] = path_list

################### 평균 주가 계산 #####################
df1 = df1.T

# n기간 주가의 산술평균
df1['평균주가 (1)'] = df1.mean(axis=1)


####################### df2 ##########################
df2 = investment/ df1.iloc[:,:5]

df2.columns = [['Time 0(매입주식수)',
               'Time 1(매입주식수)',
               'Time 2(매입주식수)',
               'Time 3(매입주식수)',
               'Time 4(매입주식수)']]

df2['타문헌 매입주식수 합계'] = np.sum(df2, axis= 1)


########### 투자 종료 시점의 투자안 가치는 매입한 총 주식 수 * T시점 주가
df2['투자 종료시점 투자안 가치'] = df2['타문헌 매입주식수 합계'] * df1['Price at time 4']

df2['LS 수익률(%) (4) '] = df1['Price at time 4'] -100

#### 기존 문헌의 누적 수익률 계산방식
df2['타문헌 DCA 수익률(%) (5)'] = (df2['투자 종료시점 투자안 가치'] / total_investment -1 ) * 100



################### 고강석 IRR 수익률 계산 #############
irr_list = []

for cnt, index in enumerate(df2.index):
    irr_path = np.ones(5) * - investment
    FV = df2.loc[index,'투자 종료시점 투자안 가치']
    irr_path[4] += FV
    
    # IRR 수익률
    irr_rtn = np.irr(irr_path)
    
    # irr 수익률을 전체 기간 수익률로 바꾸고 %화 해준다
    irr = (np.power(irr_rtn +1, 4) -1) * 100
    irr_list.append(irr)
    
    ##### T시점 투자금액 현가로 할인
    PV_list = [investment / np.power(irr_rtn +1, i) for i in range(5)]
    
    
    
df2['고강석 IRR 수익률(%) (5)'] = irr_list


###################### df1 ###########################
df1['타문헌 DCA 평균매입단가 (2)'] = total_investment/ df2['타문헌 매입주식수 합계']

df1['비용절감액 (1)-(2)'] = df1['평균주가 (1)'] - df1['타문헌 DCA 평균매입단가 (2)']

df1 = df1.apply(lambda x : np.round(x,2))
df2 = df2.apply(lambda x : np.round(x,2))

In [111]:
df1.T

,상상상상,상상상하,상상하상,상하상상,하상상상,상상하하,상하상하,상하하상,하하상상,하상상하,하상하상,상하하하,하상하하,하하상하,하하하상,하하하하
Price at time 0,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
Price at time 1,110.00,110.00,110.00,110.00,90.00,110.00,110.00,110.00,90.00,90.00,90.00,110.00,90.00,90.00,90.00,90.00
Price at time 2,121.00,121.00,121.00,99.00,99.00,121.00,99.00,99.00,81.00,99.00,99.00,99.00,99.00,81.00,81.00,81.00
Price at time 3,133.10,133.10,108.90,108.90,108.90,108.90,108.90,89.10,89.10,108.90,89.10,89.10,89.10,89.10,72.90,72.90
Price at time 4,146.41,119.79,119.79,119.79,119.79,98.01,98.01,98.01,98.01,98.01,98.01,80.19,80.19,80.19,80.19,65.61
평균주가 (1),122.10,116.78,111.94,107.54,103.54,107.58,103.18,99.22,91.62,99.18,95.22,95.66,91.66,88.06,84.82,81.90
타문헌 DCA 평균매입단가 (2),119.91,115.70,111.39,107.01,102.58,106.97,102.93,98.78,91.10,98.82,94.99,94.54,91.06,87.49,83.83,80.11
비용절감액 (1)-(2),2.19,1.08,0.54,0.52,0.96,0.61,0.25,0.44,0.52,0.36,0.23,1.11,0.59,0.57,0.99,1.79

In [112]:
df2.T

,상상상상,상상상하,상상하상,상하상상,하상상상,상상하하,상하상하,상하하상,하하상상,하상상하,하상하상,상하하하,하상하하,하하상하,하하하상,하하하하
Time 0(매입주식수),2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00
Time 1(매입주식수),1818.18,1818.18,1818.18,1818.18,2222.22,1818.18,1818.18,1818.18,2222.22,2222.22,2222.22,1818.18,2222.22,2222.22,2222.22,2222.22
Time 2(매입주식수),1652.89,1652.89,1652.89,2020.20,2020.20,1652.89,2020.20,2020.20,2469.14,2020.20,2020.20,2020.20,2020.20,2469.14,2469.14,2469.14
Time 3(매입주식수),1502.63,1502.63,1836.55,1836.55,1836.55,1836.55,1836.55,2244.67,2244.67,1836.55,2244.67,2244.67,2244.67,2244.67,2743.48,2743.48
Time 4(매입주식수),1366.03,1669.59,1669.59,1669.59,1669.59,2040.61,2040.61,2040.61,2040.61,2040.61,2040.61,2494.08,2494.08,2494.08,2494.08,3048.32
타문헌 매입주식수 합계,8339.73,8643.29,8977.21,9344.52,9748.56,9348.23,9715.54,10123.66,10976.64,10119.58,10527.70,10577.13,10981.17,11430.10,11928.92,12483.16
투자 종료시점 투자안 가치,1221020.00,1035380.00,1075380.00,1119380.00,1167780.00,916220.00,952220.00,992220.00,1075820.00,991820.00,1031820.00,848180.00,880580.00,916580.00,956580.00,819020.00
LS 수익률(%) (4),46.41,19.79,19.79,19.79,19.79,-1.99,-1.99,-1.99,-1.99,-1.99,-1.99,-19.81,-19.81,-19.81,-19.81,-34.39
타문헌 DCA 수익률(%) (5),22.10,3.54,7.54,11.94,16.78,-8.38,-4.78,-0.78,7.58,-0.82,3.18,-15.18,-11.94,-8.34,-4.34,-18.10
고강석 IRR 수익률(%) (5),46.41,7.14,15.35,24.55,34.86,-16.39,-9.44,-1.55,15.44,-1.63,6.41,-29.11,-23.12,-16.32,-8.59,-34.39