In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from matplotlib import font_manager, rc

In [3]:
raw = pd.read_csv('Data/kospi.csv', encoding = 'cp949')

# 전처리

In [4]:
raw.head()

,일자,현재지수,대비,등락률(%),배당수익률(%),주가이익비율,주가자산비율,시가지수,고가지수,저가지수,거래량(천주),거래대금(백만원),상장시가총액(백만원)
0,1980/01/04,100.00,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,96,603,NaN
1,1980/01/05,100.15,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,131,776,NaN
2,1980/01/07,102.53,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,358,"2,030",NaN
3,1980/01/08,105.28,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,796,"5,567",NaN
4,1980/01/09,106.37,NaN,-,0.0,0.0,0.0,NaN,NaN,NaN,552,"3,706",NaN

In [5]:
raw.dtypes

일자              object
현재지수            object
대비             float64
등락률(%)          object
배당수익률(%)       float64
주가이익비율         float64
주가자산비율         float64
시가지수            object
고가지수            object
저가지수            object
거래량(천주)         object
거래대금(백만원)       object
상장시가총액(백만원)     object
dtype: object

In [6]:
raw['일자'] = raw['일자'].apply(lambda x: x.replace('/','')).astype('int')

raw['현재지수'] = raw['현재지수'].apply(lambda x: x.replace(',','')).astype('float')

raw['등락률(%)'] = raw['현재지수'].pct_change().fillna(0) +1

raw = raw[['일자','현재지수','등락률(%)']]

In [7]:
raw.head()

         일자    현재지수    등락률(%)
0  19800104  100.00  1.000000
1  19800105  100.15  1.001500
2  19800107  102.53  1.023764
3  19800108  105.28  1.026821
4  19800109  106.37  1.010353

In [8]:
raw['GIJUN_MONTH'] = raw['일자'].apply(lambda x: x//100)

In [9]:
raw.tail()

             일자     현재지수    등락률(%)  GIJUN_MONTH
10411  20180813  2248.45  0.984957       201808
10412  20180814  2258.91  1.004652       201808
10413  20180816  2240.80  0.991983       201808
10414  20180817  2247.05  1.002789       201808
10415  20180820  2247.88  1.000369       201808

# Historical Simulation을 위한 기초 data 생성

In [10]:
column_list = ['GIJUN_MONTH','SILH_SUIK_RT','KOSPI(월초)','KOSPI(월말)']
data = DataFrame(columns = column_list)

# 월초
jisu1_list = []

#월말
jisu2_list = []

month_list = []
suik_list = []

for month in raw['GIJUN_MONTH'].unique():
    temp = raw[raw['GIJUN_MONTH'] == month]
    
    # 2018년 8월 자료는 제외
    if month == 201808: continue
    
    # 월 기록
    month_list.append(month)
    
    # 월초 주가 기록
    jisu1_list.append(temp['현재지수'].iloc[0])
    
    # 월말 주가 기록
    jisu2_list.append(temp['현재지수'].iloc[-1])
    
    # 월 수익률 기록
    suik_list.append(np.prod(temp['등락률(%)']))
    
    
    
data['GIJUN_MONTH'] = month_list
data['SILH_SUIK_RT'] = suik_list
data['KOSPI(월초)'] = jisu1_list
data['KOSPI(월말)'] = jisu2_list

In [11]:
data

     GIJUN_MONTH  SILH_SUIK_RT  KOSPI(월초)  KOSPI(월말)
0         198001      1.058900     100.00     105.89
1         198002      0.979696     104.48     103.74
2         198003      1.012146     103.96     105.00
3         198004      1.105619     105.43     116.09
4         198005      1.002929     116.54     116.43
5         198006      0.967276     116.77     112.62
6         198007      1.000799     112.05     112.71
7         198008      0.999468     112.28     112.65
8         198009      0.979583     112.55     110.35
9         198010      0.957952     109.85     105.71
10        198011      1.011541     105.48     106.93
11        198012      0.999439     106.74     106.87
12        198101      0.989052      97.90     105.70
13        198102      0.984863     105.60     104.10
14        198103      1.031700     104.20     107.40
15        198104      1.139665     107.60     122.40
16        198105      1.031863     123.60     126.30
17        198106      1.193983     126.40     150.80
18        198107      0.982095     156.40     148.10
19        198108      0.945982     148.30     140.10
20        198109      0.944325     140.40     132.30
21        198110      0.929705     136.30     123.00
22        198111      1.076423     123.80     132.40
23        198112      0.991692     131.40     131.30
24        198201      0.956969     123.60     125.65
25        198202      1.024910     125.12     128.78
26        198203      0.992623     128.97     127.83
27        198204      0.949699     126.35     121.40
28        198205      0.943740     119.76     114.57
29        198206      1.079166     116.13     123.64
..           ...           ...        ...        ...
433       201602      1.002406    1924.82    1916.66
434       201603      1.041317    1947.42    1995.85
435       201604      0.999148    1973.57    1994.15
436       201605      0.994609    1978.15    1983.40
437       201606      0.993420    1982.72    1970.35
438       201607      1.023265    1987.32    2016.19
439       201608      1.009156    2029.61    2034.65
440       201609      1.004414    2032.72    2043.63
441       201610      0.982658    2054.86    2008.19
442       201611      0.987695    2007.39    1983.48
443       201612      1.021669    1983.75    2026.46
444       201701      1.020287    2026.16    2067.57
445       201702      1.011642    2080.48    2091.64
446       201703      1.032792    2102.65    2160.23
447       201704      1.020928    2167.51    2205.44
448       201705      1.064359    2219.67    2347.38
449       201706      1.018919    2344.61    2391.79
450       201707      1.004566    2394.48    2402.71
451       201708      0.983552    2422.96    2363.19
452       201709      1.013236    2357.69    2394.47
453       201710      1.053857    2433.81    2523.43
454       201711      0.981351    2556.47    2476.37
455       201712      0.996414    2475.41    2467.49
456       201801      1.040110    2479.65    2566.46
457       201802      0.945801    2568.54    2427.36
458       201803      1.007617    2402.16    2445.85
459       201804      1.028428    2444.16    2515.38
460       201805      0.963278    2505.61    2423.01
461       201806      0.960017    2438.96    2326.13
462       201807      0.986729    2271.54    2295.26

[463 rows x 4 columns]

In [12]:
data.to_csv('RAW_DATA.csv')

# 시뮬레이션 시작

In [37]:
from collections import OrderedDict
from sympy import Symbol, solve

n_period = 36

investment = 10000
total_investment = n_period * investment

rf_annual = 0.03
rf_monthly = np.power(1+rf_annual, 1/12) -1



store_dict = OrderedDict(\
                         {'기준 월' : [],
                          'KOSPI_0' : [],
                          'KOSPI_T' : [],
                          
                          '전체 시나리오' : [],
                          '메인 시나리오' : [],
                          '세부 시나리오' : [],
                          
                          'LS 수익률(%)' : [],
                          'BH 수익률(%)' : [],
                          'DCA1 수익률(%)' : [],
                          'DCA1* 수익률(%)' : [],
                          
                          'P_0' : [],
                          'P_T' : [],
                          'H_DCA1' : [],
                          'H_DCA1*' : [],
                          
                          })

for i in range(len(data)):
    
    
    temp = data.iloc[i:i+n_period]
    
    # full year가 아니면 제외
    if not len(temp) == n_period:
        continue
    
    #기준 월 기록
    gijun_month = temp['GIJUN_MONTH'].iloc[0]
    store_dict['기준 월'].append(gijun_month)
    
    # 최초시점 KOSPI 기록
    kospi_0 = temp['KOSPI(월초)'].iloc[0]
    store_dict['KOSPI_0'].append(kospi_0)
    
    # 중간시점 KOSPI 기록
    kospi_05 = temp['KOSPI(월초)'].iloc[n_period//2]
    
    
    # 마지막 시점 KOSPI 기록
    kospi_t = temp['KOSPI(월말)'].iloc[-1]
    store_dict['KOSPI_T'].append(kospi_t)
    
    # state : 각각의 시나리오 (ex: 상상)를 기록할 변수
    total_senario = ''
    main_senario = ''
    sebu_senario = '' 

    ################ total_senario 계산 ##################
    for index in temp.index:
        row = temp.loc[index, :]
        
        # kospi_new : 해당 기의 마지막 날 주가
        kospi_new = row['KOSPI(월말)']
           
        # t기간 수익률
        suik_t = kospi_new / kospi_0 
        
        ##### 상, 하 state 기록
        if suik_t >= 1:
            total_senario += '상'
        else:
            total_senario += '하'
    
    # total senario = xxxxxxxxxxxx (x : n_period)
    store_dict['전체 시나리오'].append(total_senario)
    
    ######################## 메인 시나리오 계산 ###########################
    
    up = 0
    down = 0
    
    for letter in total_senario:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1
    
    # 메인 시나리오 계산
    # up이 절반 이상이면
    if up > n_period/2 :
        main_senario += '강'
    
    elif down > n_period/2 :
        main_senario += '약'
    
    elif up == n_period/2 :
        if kospi_t >= kospi_0:
            main_senario += '강'
            
        elif kospi_t < kospi_0:
            main_senario += '약'
            
    
    store_dict['메인 시나리오'].append(main_senario)
    
    
    
    ############################ 세부 시나리오 계산 ############################
    # 전기 (최초 n_period/2 개월) 
    up = 0
    down = 0
    
    for letter in total_senario[:n_period//2]:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1          
    
    if up > n_period/4 :
        sebu_senario += '강'
        
    if down > n_period/4 :
        sebu_senario += '약'
        
    if up == n_period/4 :
        if kospi_05 >= kospi_0:
            sebu_senario += '강'
        
        elif kospi_05 < kospi_0:
            sebu_senario += '약'
        
    # 후기
    up = 0
    down = 0
    
    for letter in total_senario[n_period//2:]:
        if letter == '상':
            up += 1
        elif letter == '하':
            down += 1          
    
    if up > n_period/4 :
        sebu_senario += '강'
        
    if down > n_period/4 :
        sebu_senario += '약'
        
    if up == n_period/4 :
        if kospi_t >= kospi_05:
            sebu_senario += '강'
        elif kospi_t < kospi_05:
            sebu_senario += '약'
        
        
    store_dict['세부 시나리오'].append(sebu_senario)
    
    
    
    ################### P_0 , P_T 계산 ###############################
    P_0 = temp['KOSPI(월초)'].iloc[0]
    P_T = temp['KOSPI(월말)'].iloc[-1]    
    
    P_T_0 = P_T / P_0
    
    ###################### LS , BH 수익률 계산 ###################
    LS_HPR = P_T / P_0 -1  # HPR  0.xx 
    LS_annual = np.power(LS_HPR +1 , 12/n_period) -1 # annual 0.xxx
    
    BH_HPR = (total_investment/2 * (P_T/P_0) + 
              total_investment/2 * np.power( 1+ rf_annual, 12/ n_period)) / total_investment -1
    
    
    BH_annual = np.power(BH_HPR +1, 12/n_period) -1
    
    store_dict['LS 수익률(%)'].append(round(LS_annual * 100,3))
    store_dict['BH 수익률(%)'].append(round(BH_annual * 100,3))
    
    
    
    
    ##################### DCA1 FV 계산 ########################
    FV_sum = 0
    
    for i in range(n_period):
        FV_sum += investment * np.prod(temp['SILH_SUIK_RT'].iloc[i:])
        
    # FV_sum : 적립식 투자안의 미래가치의 총합
    FV_sum = np.round(FV_sum,2)
    
    #################### DCA1 수익률 계산 ########################
    DCA1_HPR = FV_sum / total_investment -1 # HPR 0.xxx
    DCA1_annual = np.power(DCA1_HPR +1, 12 / n_period) -1  # annual 0.xxx
    DCA1_monthly = np.power(DCA1_annual +1, 1/n_period) -1
    
    store_dict['DCA1 수익률(%)'].append(round(DCA1_annual * 100 , 3))

    
    
    
    ################### DCA1* 수익률 계산 ##########################
    irr_path = np.ones(n_period+1) * -investment
    irr_path[-1] += (FV_sum + investment)
    
    # DCA1_star : 월별 수익률
    # IRR_annual : 연환산 수익률
    DCA1_star_monthly = np.irr(irr_path)    # monthly 0. xxxx
    DCA1_star_HPR = np.power(DCA1_star_monthly +1 ,n_period) -1
    DCA1_star_annual = np.power(DCA1_star_monthly +1, 12) -1 # annual 0. xxx
    
    store_dict['DCA1* 수익률(%)'].append(round(DCA1_star_annual * 100, 3))
    
    
    # H_DCA1 = P_T / (1 + DCA1_HPR)
    # H_DCA1* = P_T / (1 + DCA1*_HPR)
    
    H_DCA1 = P_T / (1 + DCA1_HPR)
    H_DCA1_star = round(P_T / (1+ DCA1_star_HPR),5)
    
    store_dict['P_0'].append(1)
    store_dict['P_T'].append(P_T/ P_0)
    
    store_dict['H_DCA1'].append(H_DCA1/P_0)
    store_dict['H_DCA1*'].append(H_DCA1_star/P_0)
    
    
    
    
# df 결과 값 저장 : DataFrame    
df_DCA = DataFrame(store_dict)

df_DCA.T.to_csv('모든 시나리오 %s개월.csv'%n_period)

In [38]:
df_DCA.head()

,기준 월,KOSPI_0,KOSPI_T,전체 시나리오,메인 시나리오,세부 시나리오,LS 수익률(%),BH 수익률(%),DCA1 수익률(%),DCA1* 수익률(%),P_0,P_T,H_DCA1,H_DCA1*
0,198001,100.00,128.99,상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상,강,강강,8.856,4.766,2.998,5.834,1,1.289900,1.180510,1.088132
1,198002,104.48,118.27,하상상상상상상상상상상상하상상상상상상상상상상상상상상상상상상상상상상상,강,강강,4.219,2.311,-0.185,-0.359,1,1.131987,1.138280,1.144276
2,198003,103.96,123.50,상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상,강,강강,5.909,3.195,1.155,2.248,1,1.187957,1.147722,1.111316
3,198004,105.43,119.80,상상상상상상상상상상하상상상상상상상상상상상상상상상상상상상상상상상상상,강,강강,4.351,2.380,-0.036,-0.070,1,1.136299,1.137534,1.138704
4,198005,116.54,131.44,하하하하하하하하하하하상상상상상상상상상상상상상하상상상상상상상상상상상,강,약강,4.092,2.245,2.967,5.773,1,1.127853,1.033140,0.953065

# 세부 시나리오

In [39]:
def summarize_by_senario(df, Total = True, **kwargs):
    main_senario_list = ['강', '보', '약']

    column_list = ['메인 시나리오', '세부 시나리오', 'N', 
                   'P_0', 'P_T','H_DCA1', 'H_DCA1*',
                   
                   'DCA1 > LS', 'DCA1 > BH', 
                   'DCA1* > LS', 'DCA1* > BH',

                   'H_DCA1 < P_T', 'H_DCA1* < P_T',

                   'LS 수익률(%)','BH 수익률(%)', 'DCA1 수익률(%)' , 'DCA1* 수익률(%)',
                   'LS 표준편차(%)', 'BH 표준편차(%)', 'DCA1 표준편차(%)', 'DCA1* 표준편차(%)' ,]
    
    for column in ['LS','BH','DCA1','DCA1*']:
        
        column_list.append(column + ' 왜도')
        column_list.append(column + ' 첨도')
        
        for name in [' min',' 1Q',' median', ' 3Q',' max']:
            column_list.append(column+name)
            
    
    
    
    
    store_dict = OrderedDict(\
                             dict((key , []) for key in column_list))

    # 결과 저장 DataFrame

    # 시나리오 기록
    
    if Total == True :
        store_dict['메인 시나리오'].append('전체')
        store_dict['세부 시나리오'].append('전체')
    
    elif Total == False:
        store_dict['메인 시나리오'].append(kwargs['main'])
        store_dict['세부 시나리오'].append(kwargs['sebu'])
    

    # N
    store_dict['N'].append(len(df))



    ################### # P_0 ,P_T , H_DCA1 , H_DCA1 ########################
    for column in ['P_0', 'P_T' , 'H_DCA1', 'H_DCA1*']:
        store_dict[column].append(df[column].mean())


    
    ################# [DCA 1*. DCA 2*] > [LS수익률(%), BH수익률(%)]######################
    for column in ['DCA1','DCA1*']:
        suik_column = column + ' 수익률(%)'

        DCA_win_LS_rate = np.sum(df['%s'%suik_column] > df['LS 수익률(%)']) / len(df)
        DCA_win_BH_rate = np.sum(df['%s'%suik_column] > df['BH 수익률(%)']) / len(df)

        store_dict['%s > LS'%column].append(DCA_win_LS_rate)
        store_dict['%s > BH'%column].append(DCA_win_BH_rate)




    ############### DCA1 , DCA1*, DCA2, DCA2*   > 0 (수익이 난 비율) #######################
    store_dict['H_DCA1 < P_T'].append(np.sum(df['H_DCA1'] < df['P_T']) / len(df))
    store_dict['H_DCA1* < P_T'].append( np.sum(df['H_DCA1*'] < df['P_T']) / len(df))


    #################### # LS, DCA , DCA1 수익률 기록 #######################################

    for column in ['LS', 'BH', 'DCA1', 'DCA1*']:
        
        #### 수익률 ####
        suik_column = column + ' 수익률(%)'
        store_dict[suik_column].append(df[suik_column].mean())
        
        #### 표준편차 ####
        std_column = column + ' 표준편차(%)'
        store_dict[std_column].append(df[suik_column].std())
        
        
        #### 분위수 계산 ####
        for cnt, name in enumerate([' min',' 1Q',' median',' 3Q',' max']):
            quartile = 25 * cnt # 0, 25, 50, 75, 100
            
            store_dict[column + name].append(np.percentile(a= df[suik_column], q=quartile))
        
        #### 왜도 첨도 계산 ####
        store_dict[column + ' 왜도'].append(df[suik_column].skew(axis = 0))
        store_dict[column + ' 첨도'].append(df[suik_column].kurtosis(axis = 0))
    
    
    return_df = DataFrame(store_dict)
    return return_df

In [40]:
summarize_by_senario(df_DCA, Total=True)

,메인 시나리오,세부 시나리오,N,P_0,P_T,H_DCA1,H_DCA1*,DCA1 > LS,DCA1 > BH,DCA1* > LS,...,DCA1 median,DCA1 3Q,DCA1 max,DCA1* 왜도,DCA1* 첨도,DCA1* min,DCA1* 1Q,DCA1* median,DCA1* 3Q,DCA1* max
0,전체,전체,428,1.0,1.463603,1.138155,1.0217,0.315421,0.46028,0.514019,...,2.962,10.3725,43.452,1.008413,1.757521,-46.234,-0.25625,5.7635,20.184,84.635

In [41]:
df_DCA.head()

,기준 월,KOSPI_0,KOSPI_T,전체 시나리오,메인 시나리오,세부 시나리오,LS 수익률(%),BH 수익률(%),DCA1 수익률(%),DCA1* 수익률(%),P_0,P_T,H_DCA1,H_DCA1*
0,198001,100.00,128.99,상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상,강,강강,8.856,4.766,2.998,5.834,1,1.289900,1.180510,1.088132
1,198002,104.48,118.27,하상상상상상상상상상상상하상상상상상상상상상상상상상상상상상상상상상상상,강,강강,4.219,2.311,-0.185,-0.359,1,1.131987,1.138280,1.144276
2,198003,103.96,123.50,상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상상,강,강강,5.909,3.195,1.155,2.248,1,1.187957,1.147722,1.111316
3,198004,105.43,119.80,상상상상상상상상상상하상상상상상상상상상상상상상상상상상상상상상상상상상,강,강강,4.351,2.380,-0.036,-0.070,1,1.136299,1.137534,1.138704
4,198005,116.54,131.44,하하하하하하하하하하하상상상상상상상상상상상상상하상상상상상상상상상상상,강,약강,4.092,2.245,2.967,5.773,1,1.127853,1.033140,0.953065

In [42]:
from collections import OrderedDict

# 전체 요약
summary_df = summarize_by_senario(df_DCA)

    
# 세부 시나리오별 요약
for main_senario in ['강','약']:
    temp = df_DCA[df_DCA['메인 시나리오'] == main_senario]
    
    # 강 보 합, 메인 시나리오 결과 총합
    main_summary_df = summarize_by_senario(temp, Total = False, main = main_senario, sebu = '전체')
    summary_df = pd.concat([summary_df, main_summary_df], axis=0, copy = False)
    sebu_senario_list = sorted(temp['세부 시나리오'].unique())

    for sebu_senario in sebu_senario_list:
        temp2 = temp[temp['세부 시나리오'] == sebu_senario]
        
        sebu_summary_df = summarize_by_senario(temp2, Total=False, main = main_senario, sebu = sebu_senario)
        summary_df = pd.concat([summary_df , sebu_summary_df], axis=0, copy = False)


summary_df.set_index('메인 시나리오', inplace= True)

#df_1.iloc[:,1:] = df_1.iloc[:,1:].apply(lambda x: np.round(x,3))

In [43]:
summary_df.T

메인 시나리오,전체,강,강,강,강,약,약,약,약
세부 시나리오,전체,전체,강강,강약,약강,전체,강약,약강,약약
N,428,290,246,10,34,138,8,27,103
P_0,1,1,1,1,1,1,1,1,1
P_T,1.4636,1.73565,1.82836,1.02258,1.27462,0.891901,0.874374,1.16903,0.820617
H_DCA1,1.13815,1.28283,1.32512,1.07585,1.0377,0.834132,0.933559,0.896378,0.810092
H_DCA1*,1.0217,1.09646,1.12263,1.17978,0.882612,0.864588,1.02631,0.726674,0.888179
DCA1 > LS,0.315421,0.0172414,0.00406504,0,0.117647,0.942029,0.875,0.777778,0.990291
DCA1 > BH,0.46028,0.324138,0.260163,0.1,0.852941,0.746377,0.375,0.962963,0.718447
DCA1* > LS,0.514019,0.37931,0.321138,0.1,0.882353,0.797101,0.375,0.962963,0.786408
DCA1* > BH,0.654206,0.637931,0.609756,0.4,0.911765,0.688406,0.25,0.962963,0.650485
H_DCA1 < P_T,0.742991,0.793103,0.788618,0.4,0.941176,0.637681,0.25,0.962963,0.582524
H_DCA1* < P_T,0.742991,0.793103,0.788618,0.4,0.941176,0.637681,0.25,0.962963,0.582524
LS 수익률(%),9.94926,16.9399,18.8298,0.281,8.16553,-4.74112,-4.61775,5.14593,-7.34245
BH 수익률(%),6.07124,9.84941,10.9782,0.4211,4.45562,-1.86839,-2.02162,2.84119,-3.09104
DCA1 수익률(%),5.69667,7.75029,8.27621,-2.1527,6.85776,1.38109,-2.33913,9.28304,-0.40134
DCA1* 수익률(%),11.0895,15.0855,16.1096,-4.188,13.3443,2.692,-4.55125,18.0642,-0.775029
LS 표준편차(%),19.456,18.9759,19.8335,7.20817,5.36764,9.96923,5.10733,4.63299,9.67039
BH 표준편차(%),11.3258,11.6383,12.2158,3.61968,2.88967,4.51207,2.46604,2.44783,4.24469
DCA1 표준편차(%),11.2735,11.5819,12.2015,6.39103,5.06997,9.24486,5.58973,5.59495,9.1569
DCA1* 표준편차(%),21.9416,22.5472,23.754,12.4356,9.86547,17.9797,10.8767,10.8881,17.806
LS 왜도,1.3507,1.57066,1.39681,0.225057,0.19241,-0.720813,0.861111,0.58079,-0.717296
LS 첨도,2.49889,1.91793,1.21642,-1.0753,-0.91718,0.265403,-1.12237,0.00727647,-0.0363494
LS min,-31.742,-9.525,-8.057,-9.525,-1.546,-31.742,-9.299,-1.666,-31.742
LS 1Q,0.08625,4.35275,4.7805,-5.34875,4.40575,-10.1288,-8.46775,1.7365,-13.626
LS median,5.4605,10.0755,12.128,0.6695,7.019,-1.8295,-7.1365,5.061,-6.659
LS 3Q,16.2417,21.8825,25.703,4.95375,12.063,1.93375,-0.94975,7.6945,-0.522
LS max,77.801,77.801,77.801,12.033,18.149,16.286,3.646,16.286,11.047
BH 왜도,1.80959,1.76502,1.57032,0.321822,0.260277,-0.408222,0.892261,0.672926,-0.450184
BH 첨도,3.6776,2.55395,1.72801,-0.98023,-0.908108,-0.154261,-1.04233,0.178691,-0.424138
BH min,-12.76,-4.344,-3.682,-4.344,-0.6,-12.76,-4.243,-0.659,-12.76
BH 1Q,0.208,2.38075,2.603,-2.42675,2.408,-4.6135,-3.86825,1.038,-6.13
BH median,2.9585,5.428,6.555,0.5005,3.782,-0.7385,-3.259,2.749,-3.039
BH 3Q,8.8665,12.1415,14.4225,2.6975,6.51925,1.1375,-0.2995,4.1425,-0.0945
BH max,49.111,49.111,49.111,6.503,9.961,8.892,2.015,8.892,5.959
DCA1 왜도,1.00559,1.27171,1.20403,0.509665,-0.015187,-0.312705,1.00993,0.621085,-0.264997
DCA1 첨도,1.75415,1.15859,0.70175,-0.484078,-0.971786,0.649564,-0.188139,0.532478,0.842555
DCA1 min,-23.823,-10.877,-10.877,-10.299,-2.476,-23.823,-8.563,-0.114,-23.823
DCA1 1Q,-0.13175,0.609,0.4515,-7.54175,2.94975,-3.28775,-5.54625,4.9115,-5.5905
DCA1 median,2.962,4.307,3.846,-2.3345,6.244,1.431,-3.7285,9.347,0.666
DCA1 3Q,10.3725,11.8902,13.2658,1.565,10.786,6.901,-1.02875,11.475,4.411
DCA1 max,43.452,43.452,43.452,9.768,16.157,23.795,7.211,23.795,22.75
DCA1* 왜도,1.00841,1.27297,1.20514,0.509842,-0.0151671,-0.309637,1.01011,0.621441,-0.261494
DCA1* 첨도,1.75752,1.16248,0.704995,-0.483817,-0.971689,0.644415,-0.188113,0.53343,0.838756
DCA1* min,-46.234,-21.161,-21.161,-20.038,-4.819,-46.234,-16.66,-0.222,-46.234
DCA1* 1Q,-0.25625,1.18575,0.87925,-14.6735,5.73925,-6.3985,-10.7923,9.5575,-10.879
DCA1* median,5.7635,8.3815,7.483,-4.543,12.1495,2.7845,-7.2555,18.189,1.297
DCA1* 3Q,20.184,23.1375,25.8143,3.0455,20.9877,13.4292,-2.0015,22.329,8.584
DCA1* max,84.635,84.635,84.635,19.008,31.44,46.309,14.032,46.309,44.275

In [44]:
summary_df.T.to_csv('시나리오별 통계_%s개월.csv'%n_period)